*{
    background-color: #000000;
    font-size: calc(10px + 2vmin);
    color: chartreuse;
    font-family: "Lucida Console";
    text-align: center;
  }


  body {
  }
  
  h1 {
    font-size: 20px;
  }
  
  h2 {
    font-size: 15px;
  }
  
  p {
    font-size: 10px;
  }
  
.history-table, table, th, td, tr {
    border: 1px;
    font-size: 12px;
    margin-left:auto;
    margin-right:auto;
  }

.nok{
  color: red;
}